.animation-rotateImg {
    @apply animate-rotateImg;
  }
  
  @keyframes rotateImg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .animation-rotateImg1 {
    @apply animate-rotateImg1;
  }
  
  @keyframes rotateImg1 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  